body
{
}

.announcement-list {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: coral;
    height: 400px;
    width: 400px;
    text-align: left;
    padding-left: 15px;
}

.h4-list {
    margin-bottom: 15px;
    align-content: center;
}

.label1 {
    color: white;
}

.label2-announcement {
    color: black;
    animation-name: animate-message;
    animation-iteration-count: 4;
}

@keyframes animate-message {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    100% {
        background-color: blue;
        left: 100%;
        top: 0px;
    }
}

.label3-announcement-caps {
    color: black;
    text-transform: uppercase;
}

.custom-range {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 15%;
}

.custom-radio {
    margin-left: 10px; 
    margin-right: 10px;
}

.life-type-radio {
    margin-right: 20px;
}

.life-length-input {
    width: 3%;
    margin-top: 12px;
    margin-right: 5px;
}

.msgboard-list-div {
    background-color: antiquewhite;
    width: 50%;
    height: 25px;
    text-align: left;
    padding-left: 15px;
    padding-top: 4px;
}

.p-inline-msgboard {
    display: inline;
    color: black;
}

.msgboard-delete-button {
    position: absolute;
    right: 30px;
}

.msgboard-edit-button {
    position: absolute;
    right: 90px;
}




