body
{
}

.announcement-list {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: coral;
    height: 400px;
    width: 400px;
    text-align: left;
    padding-left: 15px;
}

.h4-list {
    margin-bottom: 15px;
    align-content: center;
}

.label1 {
    color: white;
}

.label2-announcement {
    color: black;
}

.custom-range {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 15%;
}

.custom-radio {
    margin-left: 10px; 
    margin-right: 10px;
}

.life-type-radio {
    margin-right: 20px;
}

.life-length-input {
    width: 3%;
    margin-top: 12px;
    margin-right: 5px;
}

